# Dependencies
node_modules/

# Logs
*.log

# Environment variables (SECRET)
.env
.env.local
.env.production

# Build / Output
dist/
build/
.next/
out/

# Cache
.cache/
.parcel-cache/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
